/* Variables */
$mainColor: #f0f0f0;
$headColor: #24292e;

/* --- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.body {
  background-color: $mainColor;
}

div li {
  display: flex;
  align-items: center;
}

button {
  background: #393e42;
  color: #fff;
  border: 0;
  padding: 4px 10px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}



.header {
  background-color: $headColor;
  text-align: center;
  .img-logo {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.top-menu{
  padding: 0px !important;
  background-color: $mainColor;
  margin-bottom: 40px;
  .collapse {
    justify-content: center;
    li{
      font-size: 20px;
    }
  }
}